*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: crimson;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5rem;
}

#griglia{
    height: 600px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 60px;
    width: 60px;
    border: 1px solid white;
}

.evidenziato{
    background-color: aqua;
}